<!DOCTYPE html >
<html id="html">
<head id="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} ? {% endblock %} - .</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/css/base.css">

    <!-- Rich Text Editor -->
    <script src="/static/lib/rich_text_tools/rte.js"></script>
</head>

<body id="body">
    {% block point1 %}{% endblock %}
</body>
</html>
<!-- Table of Contents -->
<script src="/static/js/toc.js"></script>
