{% extends 'c-word.html' %}

{% block title %} Django - Python | web | frame {% endblock title %}

{% block point1 %}
<article contenteditable="true">
  <p><b style="background-color: yellow;">Category: 计算机 | 程序设计语言 | Python | web | frame | Django</b></p>
  <h1 id="blogTitle0">Django</h1><h2>概述</h2><p><br></p><h3>优点</h3><h4>开发速度快</h4><p>不用从零搭建，Django 能把你的想法快速实现。</p><p><br></p><h4>功能齐全 -&nbsp;开箱即用</h4><p>Django 包含许多可用于处理常见 Web 开发任务的附加功能。Django 负责</p><p><ul><li>用户身份验证<br></li><li>内容管理<br></li><li>站点地图<br></li><li>RSS 源<br></li><li>以及更多任务<br></li></ul></p><p><br></p><h4>安全</h4><p>Django 认真对待网站安全性并帮助开发人员避免许多常见的安全错误，例如</p><p><ul><li>SQL 注入<br></li><li>跨站点脚本<br></li><li>跨站点请求伪造<br></li><li>点击劫持<br></li></ul></p><p>其用户身份验证系统提供了一种管理用户帐户和密码的安全方法。<br></p><h4>可扩展</h4><p><br></p><h4>功能强大</h4><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><div><br></div>
</article>
{% endblock point1 %}
