{% extends 'c-word.html' %}

{% block title %} futureman {% endblock title %}

{% block point1 %}
<div class="tm-main uk-width-medium-3-4" contenteditable="true">
<article class="uk-article">
    <div id="maincontent">
      <h3 id="blogTitle0"><span style="background-color: rgb(255, 255, 0);"><b>futureman</b></span></h3><div>未来人</div><div><br></div><div>语言的退化</div><div>意识到每个人都是网络的一部分</div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div>
    </div>      
  </article>
</div>
{% endblock %}