{% extends 'c-word.html' %}

{% block title %} program ideas {% endblock title %}

{% block point1 %}
<div class="tm-main uk-width-medium-3-4" contenteditable="true">
<article class="uk-article">
    <div id="maincontent">
      <h3><b style="background-color: yellow;">program ideas</b></h3><div><h2><b>过程化</b></h2><h2><b>对象化</b></h2></div><div><b><br></b></div><h2><b>模块化</b></h2><h2><b>管道化</b></h2><h2><b>组件化</b></h2><div><b><br></b></div><h2><b>借用</b></h2><div><b>ES 语言的 apply 函数和 call 函数</b></div><h2><b>复用</b></h2><h2><b>共享</b></h2><h2><b>继承</b></h2><h2><b>唯一</b></h2><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div>
    </div>      
  </article>
</div>
{% endblock %}