{% extends 'c-word.html' %}

{% block title %} idea | modularization {% endblock title %}

{% block point1 %}
<div class="tm-main uk-width-medium-3-4" contenteditable="true">
<article class="uk-article">
    <div id="maincontent">
      <h3><b style="background-color: yellow;">idea | modularization</b></h3><h1><b>模块化思想</b></h1><div><br></div><h1><b>代码模块化</b></h1><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div>
    </div>      
  </article>
</div>
{% endblock %}