{% extends 'c-word.html' %}

{% block title %} point {% endblock title %}

{% block point1 %}
<div class="tm-main uk-width-medium-3-4" contenteditable="true">
<article class="uk-article">
    <div id="maincontent">
      <h3><b>._.</b></h3><h1><b>.</b></h1><h1><b>_</b></h1><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div>
    </div>      
  </article>
</div>
{% endblock %}