{% extends 'c-word.html' %}

{% block title %} str - Python | standard library | built-in types {% endblock title %}

{% block point1 %}
<article contenteditable="true">
  <b style="background-color: yellow;">Category: 计算机 | 程序设计语言 | Python | standard library | built-in  types | str</b>
  <h1 id="blogTitle0">Python 内建类型: str</h1><h2 id="blogTitle1">简介</h2><p>Text Sequence Type — str<br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p></p><p></p><p></p>
</article>
{% endblock point1 %}
