{% extends 'c-word.html' %}

{% block title %} shsnc - company | computer | 运维 {% endblock title %}

{% block point1 %}
<article contenteditable="true">
  <p>Category: company | computer | 运维</p>
  <h1 id="blogTitle0">SHSNC</h1><h2>产品业务架构</h2><p>资源管理 - 运维操作 - 监控告警 - 系统管理</p><p>自动化运维：资源 - 操作（一个脚本文件） - 编排（多个脚本文件按序执行） - 巡检（阈值）</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>
</article>
{% endblock point1 %}