{% extends 'c-word.html' %}

{% block title %} protocol | tcp {% endblock title %}

{% block point1 %}
<div class="tm-main uk-width-medium-3-4" contenteditable="true">
<article class="uk-article">
    <div id="maincontent">
      <h3 id="blogTitle0"><span style="background-color: rgb(255, 255, 0);"><b>protocol | TCP</b></span></h3><h1><b>TCP - Transmission Control Protocol</b></h1><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div>
    </div>      
  </article>
</div>
{% endblock %}