{% extends 'c-word.html' %}

{% block title %} web - tools  | vcs | git {% endblock title %}

{% block point1 %}
<div class="tm-main uk-width-medium-3-4" contenteditable="true">
<article class="uk-article">
<div id="maincontent">
    <h3 id="blogTitle0"><span lang="EN-US" style="font-size: 16px; background-color: yellow;"><b>tools | vcs | git</b></span></h3><div><span lang="EN-US" style="font-size: 16px;"><br></span></div><div><b><span lang="EN-US">Git&nbsp;</span><span lang="EN-US">—&nbsp;</span><span lang="ZH-CN">分布式版本控制系统</span></b></div>

<p class="MsoNormal"><span lang="ZH-CN" style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b>所有的版本控制都只能针对文本内容，不能跟踪二进制文件。</b></span></p><h1 id="blogTitle1"><b>版本控制</b></h1><h3 id="blogTitle2"><b>为什么要对代码进行版本控制</b></h3><h3 id="blogTitle3"><b>如何对代码进行版本控制</b></h3><h3 id="blogTitle4"><b>分布式版本控制系统与集中式版本控制系统</b></h3><h1 id="blogTitle5"><b>git</b></h1><div><b><a href="url(https://git-scm.com)">git 官网</a><br></b></div><div><b><br></b></div><div><b>基本概念</b></div><div><b>基本操作</b></div><div><b>基本命令</b></div><div><b><br></b></div><div><b><br></b></div><div><b><br></b></div>

<p style="margin: 0cm 0cm 11.25pt; line-height: 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>
</div>
</article>
</div>      
{% endblock %}